<h1> Behold the epic Binary Battles of Final Fantasy!</h1>

<p> Who do you think would win in battle? Pick your favorite!</p>

<!-- Names with buttons go down here -->

<p>
  <a href = "/add_fighter_form">Go here to add your favorite fighter!</a>
</p>
<p>
  <a href = "/all_fighters">If you go here you'll see the fighters available.</a>
</p>