<h1>Welcome to Binary Battle!</h1>

<% if @competitor != nil %>
  <h3>May the best <%= @competitor.type %> win!</h3>

  <form action = "/results" method = "post">
    <input type = "submit" value = "Vote">
  </form>

  <form action = "/results" method = "post">
    <input type = "submit" value = "Vote">
  </form>
  
<% else %>
  <h3>No competitors.  If you want to battle, you'll need to add some.</h3>
    <a href="/form_to_add_competitor">Click here to add competitors</a>
<% end %>