<% @ordered_planets.each do |p| %>
<%= p.planet %> - 
<%= p.points %> points
<br>
<% end %><br>
<br>
<br>Testing choice bias:
<br>
The first choice has been selected <%= @last_showdown.frequency_one %> time(s), and the 
second choice has been selected <%= @last_showdown.frequency_two %> time(s).<br>
<br>
<br>
<br>
<a href="/">Vote again</a>