Good job human; you added a planet.<br>
<br>
<br>
<a href="/">Home</a>


<!--Add a planet:
<form action="/planet_submitted" method="post">
<input type="string" name="planet_name">
<input type="submit" value="Submit">
</form>-->