<center>
<h1>Which planet is your favorite?</h1><br>
<br>
<br>
<h2><a href="/choice_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/choice_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a></h2><br>
<br>