<center>
<h1>Which planet is your favorite?</h1><br>
<br>
<br>
<br>
<a href="/choice_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/choice_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a><br>
<br>
<br>
<br>
<br>
<a href="/planets_ranking">See all planets ranked by popularity</a><br>
RIP Pluto <3
<br>
<br>
<h2>Also:</h2>
Vote for the planet...<br>
<a href="/bestsmile_voting_page">...with the best smile</a><br>
<a href="/bestlegs_voting_page">...with the best legs</a><br>
<a href="/futurepres_voting_page">...most likely to become president</a><br>
</center>