<center>
<h1>Which planet is your favorite?</h1><br>
<br>
<br>
<h2><a href="/choice_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/choice_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a></h2><br>
<br>
<a href="/planets_ranking">See all planets ranked by popularity</a><br>
(RIP Pluto)
<br>
<br>
<br>
<h2>Also:</h2>
Vote for the planet...<br>
<a href="/bestsmile_voting_page">with the best smile</a> | 
<a href="/bestlegs_voting_page">with the best legs</a> | 
<a href="/futurepres_voting_page">who's most likely to become president</a><br>
</center>