<center>
<h1>Which planet is your favorite?</h1><br>
<h2><a href="/vote_for_planet">Vote in the battle of the planets here</a></h2>
<br>
<br>
<a href="/planets_ranking">See all planets ranked by popularity</a><br>
(RIP Pluto)
<br>
<br>
<br>
<h2>Also:</h2>
Vote for the planet...<br>
<a href="/bestsmile_voting_page">with the best smile</a> | 
<a href="/bestlegs_voting_page">with the best legs</a> | 
<a href="/futurepres_voting_page">who's most likely to become president</a><br>
<br>
<br>
<br>
<br>

<!-- <form action="/planet_submitted" method="post">
  Add a planet:<br>
  <input type="text" name="planet_name"><br>
  <br>
  <input type="submit" value="Submit">
</form> 
</center> -->