<center>
<h1>Which planet is your favorite?</h1><br>
<br>
<br>
<br>
<a href="/choice_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/choice_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a><br>
<br>
<br>
<br>
<br>
<a href="/planets_ranking">See all planets ranked by popularity</a>
</center>