<h1>Add Category:</h1>

<h2>Please enter the Category Information:</h2>
<br>
<p>
  <form method = "post" action="/category/create">
    Category Name:<br>
    <input type="text" name="category_name"><br>
    <input type="submit">
  </form>
</p>