<center>
Which planet is most likely to become president?<br>
<br>
<br>
<br>
<a href="/pres_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/pres_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a><br>
<br>
<br>
<br>
<br>
<a href="/">Home</a>
</center>