<h1>Add a character to the fight!</h1>


<!-- form goes here -->

<form action = "/added_fighters" method = "post">
  <p>
    Character Name:
      <input type = "text" name = "name">
  </p>
  <p>
    Fighting Style (weapon):
      <input type = "text" name = "style">
  </p>
  <input type = "submit">
</form><br>

<a href = "/">Back</a>