<h1> Fighters: </h1>

<!-- displays available fighters -->

<p>Here's a list of all the fighters battling it out for the grand prize!</p>

<% @fighters.each do |fighter| %>
  <br><%= fighter.name %><br>
<% end %>

<a href = "/">Back</a>