<h1>Add Competitor:</h1>

<h2>Please enter the Competitor Information:</h2>
<br>
<p>
  <form method = "post" action="/competitor/create">
    Competitor Name:<br>
    <input type="text" name="competitor_name"><br><br>
    <select name="category_id">
      <option selected disabled>Select a Category...</option>
      <%@categories.each do |c|%>
      <option value="<%=c.id%>"><%=c.name%></option>
      <%end%>
    </select><br><br>
    <input type="submit">
  </form>
</p>