<h1>Add Competitor:</h1>

<h2>Please enter the Competitor Information:</h2>
<br>
<p>
  <form method = "post" action="/competitor/create">
    Competitor Name:<br>
    <input type="text" name="competitor_name"><br>
    <input type="submit">
  </form>
</p>