<center><h1>Definite Rankings of Spice Girl Superiority:</h1></center>


<p><a href="/competitor/add">Add Competitor</a></p>

<p><a href="/competitor/vote">Cast Your Vote</a></p>
<h2>Posh Spice</h2>
<p><%=@hash%>
</p>
