<center><h1>Pick select the superior spice:</h1>


<form method = "post" action="/vote/create">
  <input type="checkbox" name="winner_id" value="<%=@match_competitors[0].id%>"><%=@match_competitors[0].name%>
  <input type="checkbox" name="loser_id" value="<%=@match_competitors[1].id%>"> <%=@match_competitors[1].name%><br>
  <input type="submit" value="Vote">
  </form></center>


  