<center><h1>Pick select the superior spice:</h1>


<form method = "post" action="/vote/create">
    <input type="submit" value= "<%=@match_competitors[0].name%>"<%=@match_competitors[0].id%> name="winner_id">
    <input type="submit" value="<%=@match_competitors[1].name%>"<%=@match_competitors[1].id%> name="loser_id">
  </form></center>

  