<p>Current Movies</p>



<table border="1">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Vote Count</th>
    </tr>
  </thead>

  <tbody>
    <% @sorted.each do |y| %>
      <tr>
        <td> <%= y.movie_name %></a> </td>

        <td> <%= y.vote_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/home_movies">Vote for another movie?</a>