<p>Current Movies</p>



<table border="1">
  <thead>
    <tr>
      <th>Movie Ranking</th>
      <th>Movies</th>
    </tr>
  </thead>

  <tbody>
  <% rank = 0 %>
    <% @sorted.each do |y| %>
      <tr>
        <td> <%= rank += 1%></a> </td>
        <td> <%= y.movie_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table border="1">
  <thead>
    <tr>
      <th>Movie Win Percentage</th>
      <th>Movies</th>
    </tr>
  </thead>

  <tbody>
    <% @sorted.each do |y| %>
      <tr>
        <td> <%= y.winning_percentage%></a> </td>
        <td> <%= y.movie_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/home_movies">Vote for another movie?</a>