<p>Current Movies</p>



<table border="1">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Vote Count</th>
    </tr>
  </thead>

  <tbody>
    <% @sorted.each_pair do |key, value| %>

      <tr>
        <td> <%= key %></a> </td>

        <td> <%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/home_movies">Vote for another movie?</a>