<center>

<h2>Add Movies for Voters</h2>

<form action="admin/add_movie_form" method="post">
  <p>
  <strong>
    '80s Movie Sequal Title:
  </strong>
  <br />
  </p>
  <p>
    <input type="text" name="movie_title" required>
    <br />
  </p>
    <input type="submit" value="Add Movie">
</form>

</center>