<center>

<h2>Add Movies for Voters</h2>

<form action="/add_movie_form" method="post">
  <p>
  <strong>
    '80s Movie Sequal Title:
  </strong>
  <br />
  </p>
  <p>
    <input type="text" size="35" name="movie_title" required>
  </p>
  <p>
    Movie Poster URL:
  <br />
    <input type="text" name="movie_poster" required>
  </p>
  <p>
    <input type="submit" value="Add Movie">
  </p>
</form>

<br />

<table border="1">
  <thead>
    <tr>
      <th colspan="3"> ADDED MOVIES </th>
    </tr>
    <tr>
      <th> -+-+-+-+-+-+- </th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>

      <tr>
        <td>
        <center style="color:blue">
          <%= movie.movie_title %>
        </center>
        </td>
      </tr>
      <tr>
        <td>
        <center>
          <a href="/delete_movie/<%= movie.id %>" style="color:red">
          delete
          </a>

          <a href="/update_movie/<%= movie.id %>" style="color:green"> 
          update
          </a>
        </center>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

</center>