<center>

<h2>Update <%= @movie.movie_title %></h2>

<a href="/">Home</a>
<a href="/add_movie">Back</a>
<br />

<form action="/process_movie_update/<%= @movie.id %>" method="post">
  <p>
  <strong>
    '80s Movie Sequal Title:
  </strong>
  <br />
  </p>

  <p>
  <input type="text" name="movie_title_update" 
    value="<%= @movie.movie_title %>" required>
  </p>
  <p>
  <input type="submit" value="Update Movie">
  </p>
</form>

</center>