<center>
<h1><%= @y[2].capitalize %> stands victorious!</h1>

<p>Would you like to vote again?
  <form action = "/" method = "get">
    <input type = "submit" value = "Yes">
  </form>

  <form action = "/thank_you" method = "get">
    <input type = "submit" value = "No">
  </form>
</p>
