<h1>Results</h1>

<table border = 1px style="width:50%">
  <tr>
    <th>Competitor 1</th>
    <th>Competitor 2</th>
    <th>WINNER!</th>
  </tr>
  <tr>
    <% counter = [] %>
    <% @results.each do |result| %>
      <td>
        <%= result.comp_id_1 %>
      </td>

      <td>
        <%= result.comp_id_2 %>
      </td>

      <td>
        <%= result.winner %>
      </td>
    <% counter << result.winner  %>
  </tr>
    <% end %>
 </table> 

<%= counter.sort %>

<a href = "/all_competitors">Back</a>
