<h1> Success! </h1>

<p> Building successfully added to database </p>

<a href="/new_building">Add another building?</a>
<a href="/show_buildings">View all buildings?</a>
<a href="/home_buildings">Return Home</a>