<h1 style="text-align:center"> Choose your favorite building!</h1> 



<img src="../../app/public/dart.jpg" alt="Building"  height="50%" width="50%"/>
<p> <a href="/new_building">Add a Building</a> <p> 