<h1 style="text-align:center"> Choose your favorite building!</h1> 


<form style="text-align: center" action="/building_vote/<%=@building1.id %>" method="post">
  <input type="image" name="submit" src="<%=@building1.building_image%>" alt="Building"  height="50%" width="50%"/>
</form>

<form style="text-align: center" action="/building_vote/<%=@building2.id %>" method="post">
  <input type="image" name="submit" src="<%=@building2.building_image%>" alt="Building"  height="50%" width="50%"/>
</form>


<p> <a href="/">Another Battle?</a> <p> 
<p> <a href="/show_buildings">View all Buildings?</a> <p> 
<p> <a href="/new_building">Add another Building?</a> <p> 