
<h1 style="text-align: center">Voted!</h1>
  <p style="text-align: center"> You chose <%= @winner.building_name %> designed by <%= @winner.architect %> <p>

<p style="text-align: center"><a href="/home_buildings"> Vote Again? </a><p>
<p style="text-align: center"><a href="/"> Another Battle? </a><p>