<h1>Add a Building</h1>



<form action="/add_building" method="post">
  <p>Add a Building<p>
  <input type="text" name="input_building">
  <p>Add image location<p>
  <input type="text" name="input_url">
  <input type="submit">
  
</form>

<a href="/show_buildings">View all Buildings</a>
<a href="/home_buildings">Return Home</a>