<p>Current Buildings</p>


<table border="1">
  <thead>
    <tr>
      <th>Building</th>
      <th>Wins</th>
    </tr>
  </thead>

  <tbody>
    <% @wins.each_pair do |key, value| %>
      <tr>
        <td> <%=@building.find_by_id(key).building_name%></a> </td>
        <td> <%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table border="1">
  <thead>
    <tr>
      <th>Building</th>
      <th>Loses</th>
    </tr>
  </thead>

  <tbody>
    <% @loses.each_pair do |key, value| %>
      <tr>
        <td> <%=@building.find_by_id(key).building_name%></a> </td>
        <td> <%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p style="text-align: center"><a href="/home_buildings">Vote for another building?</a><p>