<h1>Add a Category</h1>

<form action="/add_category" method="post">
  <label for="category_title">
    Category Title:<br>
    Rank the Best 
  </label>
  <input type="text" name="category_title">
  <br>
  <br>
  <label for="number_of_nominees">
    How Many Nominees Would You Like to Add?
  </label>
  <input type="integer" name="number_of_nominees">
  <input type="submit">

</form>