<center>
  
<h1>BEHOLD</h1>
-+-+-+-+-+-+-+-
<h4>
FOR IT HAS BEEN SAID
<br />
THAT
</h4>

<p>
  <h2><%= @upvote.movie_title.upcase %></h2>

  <h4 style="color:red">TROUNCES</h4>

  <h2><%= @downvote.movie_title.upcase %></h2>
</p>

<br />
<a href="/" style="color:blue">Vote Again?</a>

</center>