<center>

<h2>Vote Records</h2>

<p>
  <a href="/">Vote</a>
</p>
-+-+-+-+-+-+-+-
<p>
  <strong>
    Movie Stats:
  </strong>
</p>
<form action="/movie_stats" method="get">

  <p>
    <select name="movie_id">
      <% @movies.each do |movie| %>
        <option value="<%= movie.id %>">
        <%= movie.movie_title %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <input type="submit" value="Check it">
  </p>
</form>

</center>
<!--
Define table to list the running top 3 vote results
Define dynamic, each-loop, table to list stats for each movie
Stats:
- Total times in vote battle (add upvotes and downvotes)
- Total upvotes
- Total downvotes
- Ratio of upvote to downvote
- Total vote button placement (movie_1 or movie_2)
- Button placement bias (movie_1 upvote, upvote:downvote ratio and vice versa)
-->