<h1>List of Competitors</h1>

<% @competitors.limit(1).each do |competitor| %>
  <p>
    Here's a list of all the competitors duking it out for the title of "Best <%= competitor.competitor_type.capitalize %>"!
  </p>
<% end %>

<% @competitors.each do |competitor| %>
  <%= competitor.name %>
<% end %>

<a href = "/">Back</a>