<h1>ADD A NEW UNIVERSE</h1>
<i>Example Universes: Buffy, Marvel, DC, Harry Potter</i>


<form action="/newuniverse" method="post">
  <fieldset>
    <legend>Add New Universe</legend>
      <label for="universe_name">Name of Universe</label>
        <input type="text" name="universename">
      <input type="Submit" value="Add Characters To This 'Verse">
  </fieldset>
</form>