<center>
Which planet has the best legs?<br>
<br>
<br>
<br>
<a href="/legs_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/legs_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a><br>
<br>
<br>
<br>
<br>
<a href="/">Home</a>
</center>