<center>
Which planet has a better smile?<br>
<br>
<br>
<br>
<a href="/smile_selected/<%= @display_planets[0] %>"><%= @display_planets[0] %></a> vs. 
<a href="/smile_selected/<%= @display_planets[1] %>"><%= @display_planets[1] %></a><br>
<br>
<br>
<br>
<br>
<a href="/">Home</a>
</center>