<center><h1> CATEGORIES</h1>
<form method="GET" action="/categories/add">
<input type="submit" value="Add Category"></form>
<br>
 
 <table border="0">
  <thead>
    <tr>
      <th>CATEGORY NAME </th>
      <th> &emsp;&emsp; </th>
      <th> STATUS&emsp;</th>
      <th>SCORES&emsp;</th>

    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><a href="/categories/category/<%= category.id %>"><%= category.name %></a></td>

      <td>&emsp;&emsp;</td>

      <td><% if category.locked == false %>
        <form  method="POST" action="/battles/battle/<%= category.id %>/play">
        <input type="submit" value="Vote"></form>
      <% else %>
      CLOSED
      <% end %></td>

      <td><form  method="GET" action="/categories/category/<%= category.id %>/results">
        <input type="submit" value="Results"></form></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</center>