<center> <h1> <%= @category.name %> </h1>


<% @pool.each do |pool| %>
<%nominee = pool.get_nominee_info%>
<a href="/nominees/nominee/<%= nominee.id %>"><%= nominee.name %></a><br> 
<% end %>
</center>