<p>Add a new band or artist:</p>

<form action="/added" method="post">
  <fieldset>
  <legend>Name</legend>
    <input type="text" name="name">
    <input type="submit">
  </fieldset>
</form>

<br>
<br>
<p><a href="/all_bands">View all bands/artists</a></p>
<br>
<p><a href="/">Home</a></p>