<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Site</title>
</head>

<body>

 <center><h1>ADD NEW ARTIST</h1></center>

<center>
  <form action="/process_artist" method="post">
    <input type="text" name="name">
    <input type="submit">
  </form>
</center>

<p><center><a href="/">Home</a></center></p>

</body>
</html>