<!doctype html>
<html>
<h1 align="center"> Please Enter Your Dwarf's Name!
  <meta charset="utf-8">
  <title>Dwarves</title>
</h1>

<body align="center">


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form action="/submit_dwarf_form">
  <p><input type="text" name="dwarf_name"></p>
  <p><input type="submit"></p>
</form>

or

<br>
<br>

<td>

  <form action="/vote">
    <input type="submit" value="Just Vote">
  </form>
</td>
</body>
</html>