<a href="/">Back to Home Page</a>

<h1>Admin</h1>

<h2>List of Avengers and Their Current Votes</h2>
<table border="1">
  <thead>
    <tr>
      <th>Avenger</th>
    </tr>
  </thead>
  <tbody>
    <% @avengers.each do |a| %>
      <tr>
        <td><%= a.name %></td> 
      </tr>
    <% end %>                  
  </tbody>
</table>



<br>
</br>
<p>Enter a new Avenger here</p>

<form action="/new_avenger" method="post">
  <input type="text" name ="new_avenger">

  <input type="submit">

</form>