<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ARTIST BATTLE</title>
</head>

  <tr>
  <th>Artist</th>
  </tr>

<body>
 
  <% @a.each do |artist| %>
    
    <tr>
      <td><p><%= artist.name %></p></td>
    </tr>
  <% end %> 
</body>
</html>

<a href="/">Home</a>
