<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ARTIST BATTLE</title>
</head>

<table</table>
  <tr>
  <th>Artist</th>
  <th>Score</th>
  </tr>

<tbody>
 
  <% @a.each do |artist| %>
    <ol>
      <li><p><%= artist.name %> - <%= artist.score %></p></li>
    </ol>
  <% end %> 
</tbody>
</table>
</html>

<a href="/">Home</a>
