<!doctype html>
<html>
<h1 align="center"> FIX YO INFO FOO!
  <meta charset="utf-8">
  <title>Dwarves</title>
</h1>

<body align="center">

<img src="http://4.bp.blogspot.com/-ylwCFSGfD8w/TpmaXhbebxI/AAAAAAAABEA/k2hcSi-xHNk/s1600/imgMr%2BT6.jpg" alt="what about now?" width=500 height=500>
<br>
<br>
<br>
<br>



<form action="/submit_dwarf_form">

  <p><input type="text" name="dwarf_name"></p>

  <p><input type="submit"></p>

</form>

</body>
</html>