<h1 style="text-align: center">Binary Battle!!!</h1>

<p style="text-align: center">Choose your battle!<p>




<p style="text-align: center"> <a href="/new_movie">Add a Movie</a> <p>
<p style="text-align: center"> <a href="/home_movies">Favorite Movie</a> <p>

<p style="text-align: center"> <a href="/home_buildings">Favorite Building</a> <p>