<a href="/admin">ADMIN</a>

<h1>Welcome to the homepage!</h1>

<form>
  <input type="radio" name="hero_1_vote" value="" checked> 
    <%= @hero_1.name %><br>
  <input type="radio" name="hero_2_vote" value="female"> 
    <%= @hero_2.name %><br>
</form>