<h1>Vote for your favorite food!</h1>





<html>
<body>
<% @dworfs.each do |d| %>
<p>
<a href="vote_dworf/<%= d.id %>">
<img border="0" alt="huh" src="<%= d.image %>" width="200" height="200">
<%= d.name %>

</a>
</p>

</body>
</html>
<% end %>