<center><h1>Vote for your favorite food!</h1></center>



<body background="http://www.trinityjoppa.org/events/checkered-red-tablecloth-8017.gif">

<html>

<% @dworfs.each do |d| %>
<p>
<a href="vote_dworf/<%= d.id %>">
<center><img border="0" alt="huh" src="<%= d.image %>" width="250" height="250"></center>
<center><%= d.name %></center>

</a>
</p>

</body>
</html>
<% end %>

