<h1>Binary Battle of the Bands</h1>

<h2> Choose your favorite rock 'n' roller </h2>

<form action="/voted" method="post">
  <p>

    <%= @band_1.name %>
      <input type="button" value="<%=  %>">
    <%= @band_2.name %>
      <input type="button" value="<%=  %>">
  </p>
  </form>