<h1>Binary Battle!!!</h1>

<p>Vote for your favorite movie!<p>



<form action="/add_vote/<%=@random_movie1.id %>" method="post">
  <%= @random_movie1.movie_name %> 
  <input type="submit" value="VOTE">
</form>

<form action="/add_vote/<%=@random_movie2.id %>" method="post">
  <%= @random_movie2.movie_name %> 
  <input type="submit" value="VOTE">
</form>




<!-- <p> <a href="/new_movie">Add a Movie</a> <p> -->
<p> <a href="/show_movies">View the curent results</a> <p>

