<!doctype html>
<html>
<head>
<a href="#" onclick="history.go(-1)"> <- Back</a>
  <meta charset="utf-8">
  <title>Binary Battle</title>
</head>

<body>

  <%= yield %>
</body>

<br>
<br>
<center>
<a href="/">Main Page</a>&emsp;|&emsp;
<a href="/categories">All Categories</a>&emsp;|&emsp;
<a href="/nominees">All Nominees</a>&emsp;|&emsp;
<a href="/results">The Winner's Circle</a>&emsp;|&emsp;
<a href="/admin/admin_tools">Admin</a>
</center> 
</html>
