<center>
<h1>Best U. of Nebraska Quarterback Ever </h1><br>
  <p>
    Settle this endless bar discussion the American way: By voting early and often.
  </p>
<br>
<h2>
  <a href="/choice_a/<%= @display_quarterback[ ] %>">
    <%= @display_quarterback[ ] %></a> vs. 
  <a href="/choice_b/<%= @display_quarterback[ ] %>">
    <%= @display_quarterbacks[ ] %></a></h2><br>
<br>
<a href="/qb_ranking"></a><br>
()
<br>

