<h1>WHOOPS</h1>

Sorry! There are not enough available characters in the <%= @universe.universe_name%> Universe to battle right now. There must be at lease <b>FIVE</b>, or they would become too powerful! <a href="/add_characters">Would you like to add more?</a>