


<a href="/">Home</a><br>

<h1>Add a Quarterback</h1>
<p>Enter a quarterback's information.</p>


<form action = "/quarterback/create" method="post">

  <input type ="text" name="quarterback_name" 
    placeholder="College_Name"><br>

  <input type ="text" name="claim_to_fame" 
    placeholder="Claim to Fame"><br>

  <input type ="submit">

</form>



