<h1>BATTLE OF THE BUFFY GANG</h1>

<H2>The people have spoken and <b><%=@winner%></b> is the best Buffy character!</H2>

<h3>The Gang, Ranked:<h3>

<ol>
  <% @arr.each do |post| %>
  <li><%=post[0]%></li>
  <% end %>
</ol>

Shocked? Angry? Disagree? Feel free to <a href="/">VOTE MORE</a>