<!doctype html>
<html>
<h1 align="center"> Scores
  <meta charset="utf-8">
  <title>Dwarves</title>
</h1>
<br>
<br>
<body align="center">

<% @ordered_table.reverse.each do |row| %>
  <p>
    <%= row.name %> has
    <%= row.tally %> points.
  </p>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<td>
  <form action="/vote">
    <input type="submit" value="Vote Again">
  </form>
</td>

<br>
<br>

<td>
  <form action="/">
    <input type="submit" value="Add Your Own Dwarf!">
  </form>
</td>

</body>
</html>
