<html>
<head>
  <meta charset="utf-8">
  <title>Battle Results</title>
</head>

<body>
<h2>Movies of David Cronenberg</h2>
<br>
You have chosen:
<br>
<%= @winner %><br><br>over<br><br><%= @loser %><br><br>

<a href="/">
      Vote Again!
      </a>

</body>
</html>
