<h1> Current ranking: </h1>

<% if @cat_list != nil %>
	<ol>
		<% @cat_list.each do |name, likes| %>
			<li>
				<%= name %> has <%= likes %> likes
        <% if Cat.where(:name => name).first.percentage_in_first_position != nil %>
        with <%= Cat.where(:name => name).first.percentage_in_first_position %>% of their votes occuring when they were shown first.
         <% end %>
			 </li>
		<% end %>
	</ol>
<% end %>
<p><a href="/"> Home </a></p>