<h1> Current ranking: </h1>

<% if @cat_list != nil %>
	<ol>
		<% @cat_list.each do |name, likes| %>
			<li>
				<%= name %> has <%= likes %> likes.
			 </li>
		<% end %>
	</ol>
<% end %>
<p><a href="/"> Home </a></p>