<html>
<head>
  <meta charset="utf-8">
  <title>Battle Results</title>
</head>

<body>
<h2>Movies of David Cronenberg</h2>
<br>
You have chosen:
<p>
<%= @winner_name %></p><p>over</p><%= @loser_name %></p><p>
<p>
<a href="/">
      Vote Again!
      </a>
</p>
<p>
<a href="/rankings">
      See Rankings
      </a>
</p>
</body>
</html>
