<h3>Well Done!</h3>

<p>You have successfully added
<% quarterback_name %> to the list of contestants.</p>

<p>Add another quarterback by using the "Add a Quarterback" link below or add a quarterback, or returning to the home page.</p>


<a href="/quarterback/create">Add a Quarterback</a><br>

<a href="/">Home</a><br>
