<center><h1>Which artist would you like to have dinner with?</h1></center>

<center>
  
    <form action="/submit_vote/<%= @artist1 %>" method="post">
    <button type="submit"><%= @artist1.name %></button>
    </form>

    <form action="/submit_vote/<%= @artist2 %>" method="post">
    <button type="submit"><%= @artist2.name %></button>
    </form>


</center>


<center><p><h1><a href="/view_artist">Results</a></p></h1></center>
<center><p><h1><a href="/admin">Admin</a></p></h1></center>