<center><h1>Which artist would you like to have dinner with?</h1></center>

<center>
<form action="/submit_vote">
  <input type="radio" name="rank" value="<%= @a.name %>"><%= @a.name %><br>
  <input type="radio" name="rank" value="<%= @a.name %>"><%= @a.name %><br>
  <input type="submit"
</form>
</center>


<center><p><h1><a href="/view_artist">Results</a></p></h1></center>
<center><p><h1><a href="/admin">Admin</a></p></h1></center>