<!doctype html>
<html>
<h1 align="center"> Thank You For Voting!
  <meta charset="utf-8">
  <title>Dwarves</title>
</h1>

<body align="center">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<td>
      <form action="/">
        <input type="submit" value="Vote Again">
      </form>
    </td>

<br>
<br>

<a href="/view_rankings">View Rankings</a>

</body>
</html>
