<center><h1>Which artist would you like to have dinner with?</h1></center>

<center>
<form action="/submit_vote">
  <% @a.each do |a| %>
    <form action="/submit_vote/<%= a.id %>" method="post">
          <button name="<%= @a.name %>" type="submit" value=<%= 1 %>><%= a.name %></button>
          </form>
  <% end %>
</form>
</center>


<center><p><h1><a href="/view_artist">Results</a></p></h1></center>
<center><p><h1><a href="/admin">Admin</a></p></h1></center>