<center><h1>Which artist would you like to have dinner with?</h1></center>

<center>
  <% @battle.each do |a| %>
    <form action="/submit_vote/<%= a.id %>" method="post">
    <button name="" type="submit"><%= a.name %></button>
    </form>
  <% end %>
</center>


<center><p><h1><a href="/view_artist">Results</a></p></h1></center>
<center><p><h1><a href="/admin">Admin</a></p></h1></center>