
<style>
body {
    background-color: silver;
}
</style><h1>Thank you for your vote for:</h1>
 <img border="0" alt="huh" src="<%= @dworf.image %>" width="300" height="300">

<a href = "/"></a>
<body><p>
<a href = "results"></a>
</p>

<p>



</a>

<body>
<p>
<a href = "/">Place another vote!</a>
</p>

<p>
<a href = "/results">View Standings</a>
</p>
</body>