<center><h1>VOTE!</h1></center>


<h2>Let's Boogie</h2>

<p><a href="/category/add">Add Category</a></p>

<p><a href="/competitor/add">Add Competitor</a></p>

<p><a href="/competitor/vote">Cast Your Vote</a></p>

<p><a href="/vote/view">View Rankings</a></p>


