<h1>Welcome!</h1>
<h2>Let's Boogie</h2>

<p><a href="/competitor/add">Add Competitor</a></p>

<p><a href="/competitor/vote">Cast Your Vote</a></p>

<p><img src="/media/images/sporty_spice.jpg" alt="<%=@competitor_with_photo.name%>"></p>