<h1>Welcome!</h1>
<h2>Let's Boogie</h2>

<p><a href="/competitor/add">Add Competitor</a></p>

<p><a href="/competitor/vote">Cast Your Vote</a></p>

<img src="<%=@competitor_with_photo.name%>" alt="Mountain View" style="width:400px;height:614px;">
